*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {


  background-color: #f1f5f9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  width: 100%;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #868686;
  transition: all 0.5s;
 
}

.digiTal_clock{
  position: absolute;
  top: 20px;
  right: 30px;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  /* background-image: linear-gradient(to right,#03a9f4, #ff05d5); */
  box-shadow: 0px 0px 2px 0px rgba(255,0,0.2), 0px 1px 5px 0px rgba(255,0,0,0.19);
  transition: all 0.5s ease;
 
 

  
}
.digiTal_clock_content{
  font-size: 13px;
  margin-top:6px;
}
.digiTal_clock:hover{
  background-color: rgba(0,0,0,0.5);
  background-image: linear-gradient(to top left, #990000 0%, #009999 100%);

  color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0.2);  

}
.container{
  width: 300px;
  height: auto;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0,0, 0.2);
  transition: all 0.5s ease 0s;
  float: left;
  margin-left:2%;
}

@media only screen and (max-width: 1320px){
  .container{
    margin-left: 8%;
  }
}
@media only screen and (max-width: 1220px){
  .container{
    margin-left: 2%;
  }
}

@media only screen and (max-width: 1220px){
.heading{
  text-align: left;
  font-size: 20px;
  width: 100%;
}
.digiTal_clock{
  margin-top: -5px;
  text-align: center;
 right: 5px;

}
}

@media only screen and (max-width:973px){
  /* .digiTal_clock{
    box-shadow: none;
  } */
  .container{
    margin-left: 6%;
  }
}

@media only screen and (max-width:697px){

  .container{
    margin-left: 5%;
  }
  .heading{
    text-align: center;
  }

  .digiTal_clock{
    margin-top: 50px;
    margin-right: 0px;
    text-align: center;
   right: 5px;
   width: 160px;
   box-shadow: none;

  }
  }
  



.container:hover{
  box-shadow: 0px 4px 8px 0px rgba(0, 0,0, 0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
  transform: scale(1.05, 1.05);
}

.net_image{
  width: 100%;
  height: 300px;
}

.com_name, .series_name, button{
  margin: 10px;
  letter-spacing: 3px;
}
.com_name{
  color: #868686;
}
.series_name{
  font-size: 20px;
  
}
button{
text-transform: uppercase;
padding: 10px;
background-color: transparent;
border: 1px solid gray;
}

button:hover{
  color:#e6422e;
  border: 1px solid #000;
  cursor: pointer;
}

/* .main{
  width: 600px;
  height: 350px;
  border: 1px solid #000;
}


.cont{
  width: 150px;
  height: 150px;
  border: 1px solid #000;
} */




.pagination{
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0,0,0.8);

  

}


.pagination .anchoring{
  padding: 8px 16px;
  text-decoration: none;
  float: left;
  color: #fff;
  margin-left:10px ;
 
  
 
}

.anchoring{
  text-align: center;
  color:#fff;
  
  
}



.pagination a:hover{
  background-color: #111;
  border-radius: 5px;
  color: #990000;
  font-weight: bold;

}
.pagination a::after {
  content: "";
  clear: both;
  display: table;
}
.copyright{
  text-align: center;
  letter-spacing: 3px;
  margin-top: 0;
  padding: 10px;
  
}


